@import "tailwindcss";

@theme {
  --color-primary-green: #61ba48;
  --color-primary-green-hover: #4da73a;
  --color-primary-red: #d31513;
  /* --color-primary-red: #901a19; */
  --color-secondary-red: #901a19;
  /* --color-secondary-red: #cf6969; */
  --color-dark-blue: #21222D;
  --color-sec-dark-blue: #171821;
  --color-dark-orange: #CB974F;
  --color-light-cyan: #A9DFD8;

}

.main-con-style {
  @apply w-[80%] bg-white shadow-lg rounded-md;
}